@inject ITypeNameService typeNameService

<div class="battery-level">
    <MudProgressLinear Vertical="false" Color="_colorLoading" Size="Size.Large" Value="@ValuePerecent" Min="0" Max="100" Style="height: 4.5rem; width:60%; margin-left:1rem;">
        <MudText Typo="Typo.h4" Align="MudBlazor.Align.Center">
            @Value.ToString("n0")@typeNameService.GetName(EDataType.BatteryLevelAh).Unit
            <MudChip T="object" Value="Variant.Outlined" Color="_color"> @this.Ampere.ToString("n2")</MudChip>
        </MudText>
    </MudProgressLinear>

</div>
@code {
    [Parameter] public double ValuePerecent { get; set; }
    [Parameter] public decimal Value { get; set; }
    [Parameter] public decimal Ampere { get; set; }

    private Color _color => this.Ampere <= -1 ? Color.Error : this.Ampere <= 1 ? Color.Primary : Color.Success;
    private Color _colorLoading => this.ValuePerecent <= 10 ? Color.Error : this.ValuePerecent <= 20 ? Color.Warning : this.ValuePerecent > 90 ? Color.Success : Color.Primary;
}
