:root {
    --glow-offset-left-battery: 0;
}

.loading-container {
    width: 16.5rem;
    height: 15rem;
}

    .loading-container .loading-container-date {
        margin-bottom: 0.5rem;
        text-align: right;
    }

    .loading-container .battery-loading-state {
    }

        .loading-container .battery-loading-state .battery-pols {
            margin-left: 1rem;
            width: 15rem;
            height: 2rem;
        }

            .loading-container .battery-loading-state .battery-pols .current-loading {
                position: absolute;
                width: 4rem;
                height: 1.7rem;
                border: 0.15rem solid white;
                border-radius: 0.5rem 0.5rem 0 0;
                background-color: white;
            }

                .loading-container .battery-loading-state .battery-pols .current-loading.plus {
                    margin-left: 1.5rem;
                }

                .loading-container .battery-loading-state .battery-pols .current-loading.minus {
                    margin-left: 9.5rem;
                }

                .loading-container .battery-loading-state .battery-pols .current-loading .current-loading-bar {
                    position: absolute;
                    margin-top: 0.05rem;
                    height: 1.5rem;
                    width: 3.7rem;
                    border: 0.15rem solid white;
                    border-radius: 0.5rem 0.5rem 0 0;
                    color: black;
                    opacity: 0.6;
                }

                    .loading-container .battery-loading-state .battery-pols .current-loading .current-loading-bar.loading {
                        background-color: var(--bs-success);
                    }

                    .loading-container .battery-loading-state .battery-pols .current-loading .current-loading-bar.deloading {
                        background-color: red;
                    }

                    .loading-container .battery-loading-state .battery-pols .current-loading .current-loading-bar.none {
                        background-color: var(--bs-gray);
                    }

                .loading-container .battery-loading-state .battery-pols .current-loading .current-loading-state {
                    position: absolute;
                    margin-top: 0.1rem;
                    color: black;
                    text-align: right;
                    right: 0.2rem;
                    padding:0.1rem;
                }

                    .loading-container .battery-loading-state .battery-pols .current-loading .current-loading-state .current-amp {
                        font-size: 0.9rem;
                    }

                .loading-container .battery-loading-state .battery-pols .current-loading.loading {
                }

                .loading-container .battery-loading-state .battery-pols .current-loading.deloading {
                }

                .loading-container .battery-loading-state .battery-pols .current-loading.none {
                }

        .loading-container .battery-loading-state .battery-charging {
            margin-left: 1rem;
            position: relative;
            width: 15rem;
            border: 0.25rem solid white;
            height: 6rem;
            border-radius: 0.8rem;
        }

            .loading-container .battery-loading-state .battery-charging .battery-loading-state-bar {
                /*background-size: 6rem 10rem;*/
                background-color: white;
                /*background-image: repeating-conic-gradient(white 0% 25%, transparent 0% 50%);*/
                position: absolute;
                top: 0.25rem;
                left: 0.25rem;
                height: 5rem;
                border-radius: 0.3rem;
            }

                .loading-container .battery-loading-state .battery-charging .battery-loading-state-bar .battery-loading-state {
                    position: absolute;
                    width: 100%;
                    text-align: right;
                    padding-right: 1rem;
                    padding-top: 0.2rem;
                }


                    .loading-container .battery-loading-state .battery-charging .battery-loading-state-bar .battery-loading-state .battery-loading-state-icon ::deep {
                        position: absolute;
                        right: 0.1rem;
                    }

                    .loading-container .battery-loading-state .battery-charging .battery-loading-state-bar .battery-loading-state .percent {
                        font-size: 2.5rem;
                        font-weight: bold;
                        color: black;
                        margin-right: 2rem;
                    }

                    .loading-container .battery-loading-state .battery-charging .battery-loading-state-bar .battery-loading-state .ampH {
                        font-size: 1.2rem;
                        margin-top: -0.8rem;
                        margin-right: 2rem;
                        color: black;
                    }

                .loading-container .battery-loading-state .battery-charging .battery-loading-state-bar .battery-loading-bar {
                    content: "";
                    position: absolute;
                    height: 100%;
                    border-radius: 0.3rem;
                    opacity: 0.7;
                }

                    .loading-container .battery-loading-state .battery-charging .battery-loading-state-bar .battery-loading-bar.loading {
                        animation: loading 5s linear infinite;
                        background-color: var(--bs-success);
                    }

                    .loading-container .battery-loading-state .battery-charging .battery-loading-state-bar .battery-loading-bar.deloading {
                        animation: deloading 5s linear infinite;
                        background-color: var(--bs-danger);
                    }

                    .loading-container .battery-loading-state .battery-charging .battery-loading-state-bar .battery-loading-bar.none {
                        width: 100%;
                        background-color: white;
                    }

    .loading-container .solar-loading-state {
    }

        .loading-container .solar-loading-state .current-loading {
            position: absolute;
            margin-top: 0.2rem;
            margin-left: 2rem;
            width: 4rem;
            height: 1rem;
            border: 0.15rem solid white;
            border-radius: 0.5rem 0.5rem 0 0;
            background-color: white;
        }

            .loading-container .solar-loading-state .current-loading .current-loading-bar {
                margin-top: -0.15rem;
                margin-left: -0.15rem;
                width: 4rem;
                height: 1rem;
                border-radius: 0.5rem 0.5rem 0 0;
                opacity: 0.7;
            }

                .loading-container .solar-loading-state .current-loading .current-loading-bar.active {
                    animation: loadingSolar 3s linear infinite;
                    background-color: var(--bs-success);
                }

                .loading-container .solar-loading-state .current-loading .current-loading-bar.reduce {
                    animation: loadingSolar 3s linear infinite;
                    background-color: var(--bs-success);
                }

                .loading-container .solar-loading-state .current-loading .current-loading-bar.standby {
                    background-color: var(--bs-gray);
                }

        .loading-container .solar-loading-state .solar-charging {
            margin-top: 1rem;
            margin-left: 0rem;
            position: absolute;
            width: 9.5rem;
            border: 0.25rem solid white;
            height: 3.2rem;
            border-radius: 0.8rem;
        }

            .loading-container .solar-loading-state .solar-charging.active {
                background-color: var(--bs-success);
            }

            .loading-container .solar-loading-state .solar-charging.reduce {
                background-color: var(--bs-success);
            }

            .loading-container .solar-loading-state .solar-charging.standby {
                background-color: var(--bs-gray);
            }

            .loading-container .solar-loading-state .solar-charging .solar-loading-state-bar {
                background-color: white;
                position: absolute;
                top: 0.25rem;
                left: 0.25rem;
                height: 2.2rem;
                width: 8.5rem;
                border-radius: 0.3rem;
            }

                .loading-container .solar-loading-state .solar-charging .solar-loading-state-bar .solar-loading-state {
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    color: black;
                }

                    .loading-container .solar-loading-state .solar-charging .solar-loading-state-bar .solar-loading-state .solar-loading-state-icon ::deep {
                        position: absolute;
                        right: 0.1rem;
                        margin-top: 0.1rem;
                    }

                    .loading-container .solar-loading-state .solar-charging .solar-loading-state-bar .solar-loading-state .amp {
                        position: absolute;
                        margin-top: -0.3rem;
                        font-size: 2rem;
                        font-weight: bold;
                        right: 1.8rem;
                    }

                    .loading-container .solar-loading-state .solar-charging .solar-loading-state-bar .solar-loading-state .state {
                        margin-top: 0.16rem;
                        margin-left: 0.3rem;
                        width: 2.5rem;
                        height: 0.8rem;
                    }

                        .loading-container .solar-loading-state .solar-charging .solar-loading-state-bar .solar-loading-state .state .state-indicator {
                            position: absolute;
                            width: 0.8rem;
                            height: 0.8rem;
                            border: 0.1rem solid black;
                            border-radius: 0.3rem;
                            position: absolute;
                        }

                            .loading-container .solar-loading-state .solar-charging .solar-loading-state-bar .solar-loading-state .state .state-indicator.aes {
                                background-color: var(--bs-success);
                            }

                            .loading-container .solar-loading-state .solar-charging .solar-loading-state-bar .solar-loading-state .state .state-indicator.reduce {
                                background-color: var(--bs-success);
                            }

                        .loading-container .solar-loading-state .solar-charging .solar-loading-state-bar .solar-loading-state .state .state-indicator-text {
                            position: absolute;
                            margin-left: 1rem;
                            font-size: 0.8rem;
                            text-align: left;
                            margin-top: -0.1rem;
                        }


@keyframes loadingSolar {
    0% {
        height: 1rem;
    }

    100% {
        height: 10%;
    }
}

@keyframes glowGreenSolar {
    from {
        box-shadow: 0 0rem 0 -0.3rem var(--bs-success);
    }

    to {
        box-shadow: 0 -0.2rem 1rem 0.3rem var(--bs-success);
    }
}

@keyframes loadingSmall {
    0% {
        width: 0;
    }

    100% {
        width: 1rem;
    }
}

@keyframes deloadingSmall {
    0% {
        width: 1rem;
    }

    100% {
        width: 0;
    }
}


@keyframes loading {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes deloading {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}
