<div class="switch-button">
    <div class="switch" @onclick="async()=> await CheckChanged()">
        <div class="slider @(Checked ? "on" : "off")"></div>
    </div>
    <div class="switch-text">
        @if (this.LabelContent is not null)
        {
            @this.LabelContent(this.Checked)
        }
        else
        {
            @Text
        }
    </div>

</div>
@code {
    [Parameter] public bool Checked { get; set; }
    [Parameter] public EventCallback<bool> CheckedChanged { get; set; }
    [Parameter] public string Text { get; set; }
    [Parameter] public RenderFragment<bool>? LabelContent { get; set; }
    private async Task CheckChanged()
    {
        Checked = !Checked;
        await this.CheckedChanged.InvokeAsync(Checked);
    }
}