@page "/"
@using chd.GeoData.App.Interfaces
@inject ILocationService locationService
@inject IConnectivityHandler connectivityHandler

<h1>Hello, world!</h1>

Welcome to your new app.

@this._distance

@code {
    double _distance = 0;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        this.connectivityHandler.CheckConnectivity();
        _distance = await this.locationService.GetDistance();
    }
}
