@page "/buttons"
@inject IAESManager manager
@inject IPiManager piManager
@inject IOptionsMonitor<PiSettings> options

@using chd.CaraVan.Devices
@using chd.CaraVan.Devices.Contracts.Dtos.Pi
@using chd.CaraVan.UI.Components.Pages.Cards
<div style="display:grid">
@foreach (var pin in options.CurrentValue.Gpios.Where(x => x.Type != Devices.Contracts.Enums.GpioType.None).OrderByDescending(o => o.Type).ThenBy(t => t.Name))
{
        <SmartButton Checked="State(pin)" CheckedChanged="(x)=>Change(pin,x)" Text="@pin.Name"></SmartButton>
}
</div>
@code {
    private bool State(Gpio pin)
    {
        if (pin.Type == Devices.Contracts.Enums.GpioType.Aes)
        {
            return manager.IsActive;
        }
        else if (pin.Type == Devices.Contracts.Enums.GpioType.Switch)
        {
            return piManager.Read(pin.Pin);
        }
        return false;
    }
    private void Change(Gpio pin, bool val)
    {
        if (pin.Type == Devices.Contracts.Enums.GpioType.Aes)
        {
            if (val)
            {
                manager.SetActive();
            }
            else
            {
                manager.Off();
            }
        }
        else if (pin.Type == Devices.Contracts.Enums.GpioType.Switch)
        {
            piManager.Write(pin.Pin, val);
        }
    }
}
