@page "/"
@using chd.CaraVan.Contracts.Dtos

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<DetailData TData="DeviceData" Device="@device" From="DateTime.Now.AddDays(-30)" To="DateTime.Now" />

@code {
    Device device = new Device
        {
            Id = 1,
            Name = "Test Device"
        };
}