@page "/settings"
@using chd.CaraVan.Devices
@using chd.CaraVan.UI.Components.Pages.Cards
@inject ISettingService settings
@inject IPiManager manager
<h3>Settings</h3>

<ServiceState Service="pitunnel" />

<Reboot />

@code {
}

